@model Shopmohinh.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cập nhập</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CategoryID)

        @Html.Partial("PV_CreateEditCategories", Model)
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
