@model Shopmohinh.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-secondary">Xóa tài khoản</h2>

<h3 class="bg-danger">Bạn thật sự muốn xóa tài khoản này sao??</h3>
<div>
    <h4>Khách hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
           Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPhone)
        </dd>

        <dt>
           Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>

        <dt>
           Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>

        <dt>
           Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Password)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary" /> 
            @Html.ActionLink("Quay về", "Index", null, new {@class = "btn btn-primary"})
        </div>
    }
</div>
