@model Shopmohinh.Models.ViewModel.ProductDetailsVM
@using PagedList.Mvc
<style type="text/css">
    .SanphamNB {
        text-align: center;
        margin-top: 2rem;
    }

    .feature-container {
        justify-content: flex-start; /* Canh trái các mục sản phẩm */
        display: flex;
        width: auto; /* Để chiều rộng chiếm hết khung chứa */
        margin: 0 auto;
        margin-top: 3rem;
        overflow-x: auto;
        padding-bottom: 10px;
    }

    .product-NB {
        flex: 0 0 auto; /* Đảm bảo mỗi sản phẩm sẽ không co lại khi cuộn */
        width: 200px; /* Đặt chiều rộng cố định cho mỗi sản phẩm */
        /* height: 350px*/;
        box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
        margin-right: 2rem;
        text-align: center;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

        .product-NB img {
            width: 100%; /* Để ảnh vừa với chiều rộng của ô */
            height: auto; /* Tự động co dãn theo chiều rộng */
            max-height: 150px; /* Giới hạn chiều cao tối đa của ảnh */
            object-fit: cover; /* Ảnh sẽ cắt bớt nếu vượt quá giới hạn */

        }

        .product-NB a {
            text-decoration: none;
            color: black;
        }

    .price {
        margin-top: 1rem;
    }
    .prodName {
        white-space: nowrap; /* Không cho phép xuống dòng */
        overflow: hidden; /* Ẩn phần chữ vượt quá giới hạn */
        text-overflow: ellipsis; /* Hiển thị dấu "..." */
        width: 150px;
    }
</style>

@if (Model.TopProducts != null && Model.TopProducts.Any())
{
    <section class="container-fluid SanphamNB">
        <h4 style="font-weight:bold;">Sản phẩm bán chạy</h4>
        <ul class="feature-container">
            @foreach (var product in Model.TopProducts)
            {
                <li class="product-NB">
                    <div>
                        <a href="@Url.Action("ProductDetails", "Home", new { id = product.ProductID })">
                            @*<img src="@Html.DisplayFor(modelItem => product.ProductImage)" />*@
                            <img src="@product.ProductImage" />
                        </a>
                    </div>
                    <div>
                        <h5 class="prodName">
                            @Html.DisplayFor(modelItem => product.ProductName)
                        </h5>
                        <p class="price">
                            @*@Html.DisplayFor(modelItem => product.ProductPrice)*@
                            @product.ProductPrice
                        </p>
                    </div>
                </li>
            }
        </ul>
    </section>
    <div class="pagination-container btn btn-primary">
        @Html.PagedListPager(Model.TopProducts, page => Url.Action("ProductDetails", new
   {
       id = Model.product.ProductID,
       quantity = Model.quantity,
       page
   }))
    </div>
}

